fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic>=1.7.4,<1.11.0
pandas==2.1.1
numpy==1.24.3
calamancy
torch==2.1.0
transformers==4.35.0
scikit-learn==1.3.0
joblib==1.3.2
nltk==3.8.1
matplotlib==3.8.0
seaborn==0.13.0
wordcloud==1.9.2
nest-asyncio==1.5.8
pyngrok==7.0.0
python-multipart==0.0.6